html, body, section, aside, header, h1, img, nav, ul, li, a, figure, figcaption {

    margin: 0;
    border: 0;
    padding: 0;

    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;

    background: transparent;
}

li {
    list-style: none;
}

body {
    background: #E2E2E2;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    height: auto;
    width: 100%;
}

li {
    float: left;
}

aside {
    margin: 20px;
}

header {
    background: #83ADD2;
    color: white;
    font-weight: bold;
}

html, body {
    height: 100%;
}